body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.text {
  position: relative;
  float: left;
  z-index: 0;
  width: 18.25%;
  min-height: 46px;
  margin: 6px 0 0 0.93006%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

._button {
  display: block;
  float: left;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

._button-1 {
  position: relative;
  z-index: 1;
  width: 16.7999999999%;
  height: 57px;
  margin-left: 64.01679%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
}

._button-2 {
  position: relative;
  clear: both;
  z-index: 2;
  width: 480px;
  height: 54px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(145, 183, 249);
}

._button-3 {
  width: 480px;
  height: 54px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(145, 183, 249);
}

._button-4 {
  position: relative;
  z-index: 4;
  width: 480px;
  height: 54px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(145, 183, 249);
}

.text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: 2.188em;
  font-weight: 700;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: #000000;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}