/*
Created by John Cody Berry on Monday, September 4, 2017
*/

body {
    background-color: rgb(255, 255, 255);
    font: 400 1em/1.38 Helvetica;
    color: rgb(0, 0, 0);
    min-width: 800px;
}

.activity-fields {
    z-index: 0;
    width: auto;
    min-width: 100%;
    text-align: center;
    min-height: 100%;
}

.activity-text-header {
    font-weight: bold;
    font-size: 150%;
}

.activity-text {
    z-index: 0;
    width: auto;
    min-width: 100%;
}

.js-list-of-games {
    z-index: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    overflow: scroll;
    min-height: 100%;
}

.selection {
    align-content: center;
    text-align: center;
    width: auto;
    min-width: 300px;
    font-style: inherit;
    font-size: 1.5em;
    /*align-items: center;*/
}

.save_activity_button {
    width: auto;
    min-width: 100%;
    height: 54px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(145, 183, 249);
}

._input {
    display: block;
    float: left;
    clear: both;
    height: 35px;
    margin-left: 36.39871%;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 0 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
    background: rgb(255, 255, 255);
    font-size: 0.813em;
    text-align: center;
    color: rgb(0, 0, 0);
    width: 27.2%;
}

.text-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 3em;
    z-index: 0;
    width: 68%;
    position: relative;
    margin-left: auto;
    margin-right:auto;
    float: left;
    text-align: center;
}

.text strong {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-color: transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: transparent;
    font-family: inherit;
    font-style: inherit;
    font-size: 2.188em;
    font-weight: 700;
    text-transform: inherit;
    text-decoration: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    color: #000000;
    opacity: 1;
    word-break: normal;
    word-wrap: normal;
    white-space: normal;
}