/*Kaley Findley*/
/*Mon. 8/28*/


body {
    background-color: rgb(255, 255, 255);
    font: 400 1em/1.38 Helvetica;
    color: rgb(0, 0, 0);
}

.js-list-of-games {
    position: relative;
    float: left;
    clear: both;
    z-index: 2;
    width: auto;
    height: auto;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    overflow: scroll;
}

.rt-element {
    font-style: normal;
    font-family: inherit;
    font-weight: 700;
    text-decoration: inherit;
    text-transform: inherit;
    color: inherit;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
    border: none;
    word-wrap: normal;
    white-space: normal;
    word-break: normal;
    font-size: 100px;
}

.element {
    float: left;
    width: auto;
    height: auto;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(222, 222, 222);
}

.image {
    display: block;
    position: relative;
    float: left;
    width: 39px;
    height: auto;
    margin-left: 96.93878%;
    overflow: hidden;
}

.text {
    position: relative;
    float: left;
}

._button {
    display: block;
    position: relative;
    float: right;
    font-size: 1em;
    text-align: center;
    color: rgb(0, 0, 0);
}

.js-game1 {
    z-index: 0;
    width: 100%;
}

.image-1 {
    z-index: 0;
    position: absolute;
}

.text-10 {
    z-index: 4;
    width: auto;
    min-height: 40px;
    position: relative;
    font-size: 1.5em;
    font-weight: 500;
    color: rgb(0, 0, 0);
    padding-top: 0.5%;
}

.text-11 {
    z-index: 4;
    width: auto;
    font-size: 0.875em;
    line-height: 1.3;
    color: rgb(33, 33, 33);
    float: right;
    position: relative;
    padding-right: 3%;
    padding-top: 0.7%;
}

.text-12 {
    z-index: 5;
    width: auto;
    min-height: 40px;
    position: relative;
    font-size: 1.5em;
    font-weight: 500;
    color: rgb(0, 0, 0);
    padding-top: 0.5%;
}

.text-13 {
    z-index: 5;
    width: auto;
    padding-right: 3%;
    padding-top: 0.7%;
    font-size: 0.875em;
    line-height: 1.3;
    color: rgb(33, 33, 33);
    float: right;
    position: relative;
}

.text-14 {
    z-index: 6;
    width: auto;
    min-height: 40px;
    position: relative;
    font-size: 1.5em;
    font-weight: 500;
    color: rgb(0, 0, 0);
    padding-top: 0.5%;
}

.text-15 {
    z-index: 6;
    width: auto;
    padding-right: 3%;
    padding-top: 0.7%;
    font-size: 0.875em;
    line-height: 1.3;
    color: rgb(33, 33, 33);
    float: right;
    position: relative;
}

.text-16 {
    z-index: 7;
    width: auto;
    min-height: 40px;
    position: relative;
    font-size: 1.5em;
    font-weight: 500;
    color: rgb(0, 0, 0);
    padding-top: 0.5%;
}

.text-17 {
    z-index: 7;
    width: auto;
    font-size: 0.875em;
    padding-right: 3%;
    padding-top: 0.7%;
    line-height: 1.3;
    color: rgb(33, 33, 33);
    float: right;
    position: relative;
}

.text-18 {
    z-index: 8;
    width: auto;
    min-height: 40px;
    position: relative;
    font-size: 1.5em;
    font-weight: 500;
    color: rgb(0, 0, 0);
    padding-top: 0.5%;
}

.text-19 {
    z-index: 8;
    width: auto;
    padding-right: 3%;
    padding-top: 0.7%;
    font-size: 0.875em;
    line-height: 1.3;
    color: rgb(33, 33, 33);
    float: right;
    position: relative;
}

.text-2 {
    z-index: 0;
    width: auto;
    min-height: 40px;
    position: relative;
    font-size: 1.5em;
    font-weight: 500;
    color: rgb(0, 0, 0);
    padding-top: 0.5%;
}

.text-20 {
    z-index: 9;
    width: auto;
    min-height: 40px;
    position: relative;
    font-size: 1.5em;
    font-weight: 500;
    color: rgb(0, 0, 0);
    padding-top: 0.5%;
}

.text-21 {
    z-index: 9;
    width: auto;
    font-size: 0.875em;
    padding-right: 3%;
    padding-top: 0.7%;
    line-height: 1.3;
    color: rgb(33, 33, 33);
    float: right;
    position: relative;
}

.text-22 {
    z-index: 10;
    width: auto;
    min-height: 40px;
    position: relative;
    font-size: 1.5em;
    font-weight: 500;
    color: rgb(0, 0, 0);
    padding-top: 0.5%;
}

.text-23 {
    z-index: 10;
    width: auto;
    padding-right: 3%;
    padding-top: 0.7%;
    font-size: 0.875em;
    line-height: 1.3;
    color: rgb(33, 33, 33);
    float: right;
    position: relative;
}

.text-3 {
    z-index: 0;
    width: auto;
    padding-right: 3%;
    padding-top: 0.7%;
    font-size: 0.875em;
    line-height: 1.3;
    color: rgb(33, 33, 33);
    position: relative;
    float: right;
}

.text-4 {
    z-index: 1;
    width: auto;
    min-height: 40px;
    position: relative;
    font-size: 1.5em;
    font-weight: 500;
    color: rgb(0, 0, 0);
    padding-top: 0.5%;
}

.text-5 {
    z-index: 1;
    width: auto;
    padding-right: 3%;
    padding-top: 0.7%;
    font-size: 0.875em;
    line-height: 1.3;
    color: rgb(33, 33, 33);
    position: relative;
    float: right;
}

.text-6 {
    z-index: 2;
    width: auto;
    min-height: 40px;
    position: relative;
    font-size: 1.5em;
    font-weight: 500;
    color: rgb(0, 0, 0);
    padding-top: 0.5%;
}

.text-7 {
    z-index: 2;
    width: auto;
    padding-right: 3%;
    padding-top: 0.7%;
    font-size: 0.875em;
    line-height: 1.3;
    color: rgb(33, 33, 33);
    position: relative;
    float: right;
}

.text-8 {
    z-index: 3;
    width: auto;
    min-height: 40px;
    position: relative;
    font-size: 1.5em;
    font-weight: 500;
    color: rgb(0, 0, 0);
    padding-top: 0.5%;
}

.text-9 {
    z-index: 3;
    width: auto;
    padding-right: 3%;
    padding-top: 0.7%;
    float: right;
    font-size: 0.875em;
    line-height: 1.3;
    color: rgb(33, 33, 33);
}

.js-logout-button {
    z-index: 0;
    width: auto;
    min-width: 16%;
    min-height: 3em;
    position: relative;
    border-radius: 1px;
    background-color: rgb(222, 222, 222);
}

.js-edit-task-button {
    clear: both;
    z-index: 1;
    width: auto;
    min-width: 33.33%;
    height: 54px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(145, 183, 249);
}

.js-visual-button {
    z-index: 1;
    width: auto;
    min-width: 33.33%;
    height: 54px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(145, 183, 249);
}

.js-sensing-button {
    z-index: 1;
    width: auto;
    min-width: 33.33%;
    height: 54px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(145, 183, 249);
}

.text span {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-color: transparent;
    border-style: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: transparent;
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
    font-weight: 700;
    text-transform: inherit;
    text-decoration: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    color: inherit;
    opacity: 1;
    word-break: normal;
    word-wrap: normal;
    white-space: normal;
}

.text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: 2.188em;
  font-weight: 700;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: #000000;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
  z-index: 0;
}
