/*Kaley Findley*/
/*Fri 9/8*/


.location-dropdown {
    display: none;
    width: 25%;
    float: left;
    font-size: large;
    position: relative;
    margin-top: 2px;
    margin-bottom: 10px;

}

.rt-element {
    font-style: normal;
    font-family: inherit;
    font-weight: 700;
    text-decoration: inherit;
    text-transform: inherit;
    color: inherit;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
    border: none;
    word-wrap: normal;
    white-space: normal;
    word-break: normal;
    font-size: 100px;
}

.element {
    float: left;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(222, 222, 222);
}

.image {
    z-index: 0;
    display: block;
    position: relative;
    width: 39px;
    height: auto;
    float: right;
}

.game-text {
    width: auto;
    height: auto;
    margin-left: 5px;
    cursor: pointer;
}

.edit-choice-text {
    z-index: 0;
    width: auto;
    height: auto;
    position: relative;
    font-size: 1.5em;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin-top: 15px;
    margin-left: 5px;
    float: left;
    cursor: pointer;
}

.js-game1 {
    z-index: 0;
    min-width: 100%;
    position: relative;
    height: 65px;
    cursor: pointer;
}

.js-list-of-games {
    float: left;
    z-index: 0;
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0);
    min-height: 100%;
}

div {
    overflow: hidden;
}

.text-1 {
    display: block;
    z-index: 0;
    font-size: 0.875em;
    line-height: 1.3;
    color: rgb(33, 33, 33);
    float: right;
    position: relative;
    text-align: right;
    margin-top: 11px;
    font-weight: 700;
    height: auto;
    cursor: pointer;
}

.text-2 {
    z-index: 0;
    width: auto;
    height: auto;
    position: relative;
    font-size: 1.5em;
    font-weight: 500;
    color: rgb(0, 0, 0);
    float: left;
}

.text-3 {
    z-index: 0;
    position: relative;
    bottom: auto;
    font-style: italic;
    font-size: small;
    float: left;
}

.tile-div {
    position: relative;
    width: auto;
    height: auto;
    align-content: center;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.tile-text {
    position: relative;
    float: left;
    font-size: medium;
    padding-right: 2%;
}

.function-select-menu {
    position: relative;
    float: left;
    width: 35%;
    height: 20px;
    margin-top: 15px;
    text-transform: uppercase;
}

.delete-tile-x {
    position: relative;
    float: right;
    margin-top: 15px;
    margin-right: 5px;
    background: #bbc0de;
    color: black;
    border: 0;
    cursor: pointer;
    font-size: 1em;
    opacity: 0.9;
    border-radius: 3px;
}

.reserve-map {
    border:0;
    display: none;
    margin-top: 40px;
    bottom: auto;
    left: auto;
    position: relative;
    overflow: scroll;
}

.split-view-canvas {
    display: none;
    overflow: scroll;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.legend-style {
    position: relative;
    width: 20%;
    float: right;
    text-wrap: normal;
    text-align: center;
    display: none
}

.choose-loc {
    display: none;
    position: relative;
    margin-top: 4px;
    background: #949093;
    color: black;
    border: 0;
    cursor: pointer;
    font-size: 1em;
    opacity: 0.9;
    border-radius: 3px;
    float: left;
}

.choose-loc:active, .delete-tile-x:active {
    top: 2px;
    margin-bottom: 0;
}

.choose-loc:hover, .delete-tile-x:hover {
    opacity: 1;
}

.choose-loc:active,
.choose-loc:focus,
.delete-tile-x:focus,
.function-select-menu:focus,
.location-dropdown:focus {
    outline: 0;
}

.map-side {
    width: 70%;
    float: left;
    height: 600px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    display: none;
    position: relative;

}

.change-list {
    width: 29.5%;
    float: right;
    height: 600px;
    background-color: rgba(33, 108, 255, 0.59);
    display: none;
    position: relative;
    border-right-color: black;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom: solid;
    border-bottom-width: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.change-list-title {
    text-align: center;
    font-size: x-large;
    font-weight: 800;
    display: block;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    background-color: #236dff;
    width: auto;
    height: auto;
    position: relative;
}


button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: black;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button.accordion.active, button.accordion:hover {
    background-color: #ccc;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.reserve {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    height: 40px;
    cursor: pointer;
    text-align: left;
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: solid
}

.mapping {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    height: 40px;
    cursor: pointer;
    text-align: left;
}