/*Kaley Findley*/
/*Mon. 8/28*/


body {
  height: 100%;
  background: url('honeycomb.jpg') rgb(255, 255, 255);
  background-repeat: repeat-x;
  background-size: 565.5px 810px;
  background-position: left top;
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.background {
    background-color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-bottom: 5px;
    height: 500px;
    width: 500px;
    margin: auto;
    margin-top: 60px;
    /* Rectangle: */
    background: #FFFFFF;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,0.13);
}


.text {
  margin-right: auto;
  margin-left: auto;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-1 {
    margin-top: 10px;
    font-style: inherit;
    font-size: 1.65em;
    font-weight: inherit;
    color: inherit;
}
._button {
  display: block;
  clear: both;
  width: 70%;
  height: 34px;
  margin: 62px 0 0 0;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 0px;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.button_login {
  background-color: #286CEE ;
  color: white;
  /* Rectangle 160: */
}

._input {
  display: block;
  clear: both;
  height: 35px;
  margin-left: 36.39871%;
  padding: 0 10px;
  border: 1px solid rgb(0, 0, 0);
  border-color: #D9D9D7;
  border-radius: 2px;
  background: rgb(255, 255, 255);
  font-size: 0.813em;
  text-align: center;
  color: rgb(0, 0, 0);
}


.title {
  margin-top: 105px;
  font-style: inherit;
  font-size: 3.125em;
  font-weight: inherit;
  color: inherit;
  text-shadow: 2px 2px 4px #949093;
}

.usernameText {
  margin-top: 25px;
  font-style: normal;
  font-size: inherit;
  font-weight: 700;
  color: inherit;
}

.passwordText {
  margin-top: 30px;
  font-style: normal;
  font-size: inherit;
  font-weight: 700;
  color: inherit;
}

.text-4 {
  width: 13.6%;
  min-height: 20px;
  margin-top: 45px;
}

._input-1 {
  width: 70%;
  margin: 0 auto 0;
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}


.text-4 span {
  font-style: normal;
  font-size: 0.75em;
  font-weight: 700;
  color: rgb(57, 191, 255);
}

button {
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.button-small{
  font-style: normal;
  font-size: 0.75em;
  font-weight: 700;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  height: 30px;
  float: inherit;
}

.security-question {
  display: block;
  float: left;
  clear: both;
  height: 35px;
  width: 27.2%;
  margin-left: 36.39871%;
  padding: 0 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 2px;
  background: rgb(255, 255, 255);
  font-size: 0.813em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.back-button{
  position:absolute;
  top:0;
  left:0;
  margin: 0 0 0 0;
}

.back-button-recover {
  width: 22%;
}

.security-questions{
  display: none;
}

.reset-password{
  display: none;
}