/*Kaley Findley*/
/*Mon. 8/28*/


body {
    background-color: rgb(194, 214, 248);
    font: 400 1em/1.38 Helvetica;
    color: rgb(0, 0, 0);
}

.container {
    clear: both;
    width: 100%;
    height: auto;
}

.text-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 3em;
    z-index: 0;
    width: 68%;
    position: relative;
    margin-left: auto;
    margin-right:auto;
    float: left;
    text-align: center;
}

.text strong {
    font-family: inherit;
    font-style: inherit;
    font-size: 2em;
    font-weight: 700;
    text-transform: inherit;
    text-decoration: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    color: #000000;
    opacity: 1;
    word-break: normal;
    word-wrap: normal;
    white-space: normal;
    z-index: 0;
}