/*Kaley Findley*/
/*Mon. 8/28*/


body {
    background-color: rgb(194, 214, 248);
    font: 400 1em/1.38 Helvetica;
    color: rgb(0, 0, 0);
}

.container {
    clear: both;
    width: 100%;
    height: auto;
}

.text-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 3em;
    z-index: 0;
    width: 68%;
    position: relative;
    float: left;
    text-align: center;
}

._button {
    display: block;
    position: relative;
    float: left;
    border: 1px solid rgb(0, 0, 0);
    font-size: 1em;
    text-align: center;
    color: rgb(0, 0, 0);
}

.js-back-button {
    z-index: 0;
    width: 16%;
    min-width: 16%;
    min-height: 3em;
    border-radius: 1px;
    position: relative;
    float: left;
    background-color: rgb(222, 222, 222);
}

.js-logout-button {
    z-index: 0;
    width: 16%;
    min-width: 16%;
    min-height: 3em;
    border-radius: 1px;
    position: relative;
    background-color: rgb(222, 222, 222);
    float: right;
}

.js-edit-task-button {
    clear: both;
    z-index: 1;
    width: auto;
    min-width: 33.33%;
    height: 54px;
    text-align: center;
    background-color: rgb(145, 183, 249);
}

.js-visual-button {
    z-index: 1;
    width: auto;
    min-width: 33.33%;
    height: 54px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(145, 183, 249);
}

.js-sensing-button {
    z-index: 1;
    width: auto;
    min-width: 33.33%;
    height: 54px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(145, 183, 249);
}

.text strong {
    font-family: inherit;
    font-style: inherit;
    font-size: 2em;
    font-weight: 700;
    text-transform: inherit;
    text-decoration: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    color: #000000;
    opacity: 1;
    word-break: normal;
    word-wrap: normal;
    white-space: normal;
    z-index: 0;
}